<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    RewriteBase /_FILENAME_/Public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    ReWriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>